a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.toolbar {
    @apply --layout-horizontal;
    @apply --layout-end-justified;
    background-color: rgba(255, 255, 255, 0.95);
}

.tabs {
    height: 100%;
    @apply --layout-horizontal;
}

.tabs>a {
    @apply --layout-vertical;
    @apply --layout-center-center;
    margin: 12px 16px 12px;
    border-bottom: 1px solid #222;
}

header {
    @apply --layout-vertical;
    @apply --layout-center-center;
    height: calc(100vh - 64px);
    padding: 0 16px;
    background-image: url('http://web.ecologia.unam.mx/oikos3.0/images/18/04Fig01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

header>h2 {
    font-size: 56px;
    font-weight: 300;
    margin: 0;
}

header>p {
    font-size: 32px;
}

section {
    padding: 88px 16px;
}

.container {
    @apply --layout-horizontal;
    max-width: 800px;
    margin: 0 auto;
}

.container>* {
    @apply --layout-flex;
}

.container img {
    max-width: 100%;
    max-height: 100%;
}

.container h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 24px 0;
}

.container p {
    line-height: 1.5;
}

@media (max-width: 600px) {
    .container {
        @apply --layout-vertical;
    }
}